* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #f4f4f5;
    padding: 18px 17px;
}

header a {
    border: 8px solid #000000;
    border-radius: 50%;
    padding: 5px;

}

.res_menu {
    display: none;
    width: 20px;
    flex-direction: column;
    gap: 5px 0;
}

.res_menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
}

.main {
    background-color: #f7f7f7;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 0 0 auto;
    padding-top: 70px;
    padding-left: 90px;  
    padding-right: 90px;  
    padding-bottom: 88px;
    background-color: #f4f4f5
}

.content {
    width: 831px;
    
}
.content_title {
    font-family: 'Brandon Grotesque';
    font-size: 30px;
    color:#111111;
    letter-spacing: 9px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.content_descr {
    font-size: 32px;
    color: #111111;
    margin-bottom: 60px;
    line-height: 1.5;
}

.content_descr2 {
    font-size: 25px;
    color: #959595;
    line-height: 1.5;
}

.left_right_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 67px;
    gap: 30px 0;
}

.left_container {
    /* background-color: aqua; */
    width: 50%;
}

.left_container_title {
    font-family:'Arial';
    font-size: 11px;
    color: #111111;
    margin-bottom: 30px;
}

.left_list {
    display: flex;
    flex-wrap: wrap;
}

.left_list_link {
    display: inline-block;
    font-family:'Brandon Grotesque';
    font-size: 14px;
    color: #FFFFFF;
    padding: 9px 22px 7px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #0865DE;
}

.right_container {
    /* background-color: orange; */
    width: 50%;
}

.right_container_title {
    font-family:'Arial';
    font-size: 11px;
    color: #111111;
    margin-bottom: 30px;
}

.right_list {
    display: flex;
    flex-wrap: wrap;
}

.right_list_link {
    display: inline-block;
    font-family:'Brandon Grotesque';
    font-size: 14px;
    color: #000000;
    padding: 9px 22px 7px;
    background-color: #FFFFFF;
    margin-right: 15px;
    margin-bottom: 15px;
    box-shadow:  0px 2px 4px #00000021;
}

.bruxelles {

}

.bruxelles_list{

}


.bruxelles_item{
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    border-radius: 6px;
    background-color: #fff;
    margin: 0 0 29px;
}

.bruxelles_img-wr{
     
}

.bruxelles_img {
    display: block;
    width: 100%;
    border-radius: 6px 0 0 6px;
}


.bruxelles_content{
}


.bruxelles_content_wr {
    padding: 39px 0 0;
    max-width: 289px;
    margin: 0 auto;
}

.bruxelle_title{
    font-family: 'Brandon Grotesque';
    font-size: 14px;
    color: #262626;
    margin-bottom: 16px;
}

.bruxelle_sub_title{
    display: block;
    font-size: 15px;
    color: #262626;
    margin-bottom: 9px;
}

.bruxelle_website{
    display: block;
    font-family: 'Brandon Grotesque';
    font-size: 12px;
    margin-bottom: 31px;
    color: #959595;
}


.bruxelle_description{
    display: block;
    font-size: 15px;
    color: #434343;
    margin: 0 0 48px 0;
    line-height: 1.6;
}

.bruxelle_link{
    font-family: 'Brandon Grotesque';
    font-size: 12px;
    color: #002D69;
    display: flex;
    align-items: center;
    gap: 0 12px;
}

.bruxelle_circle{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #0865DE;
}






@media (max-width: 1024px) {
    .container {
        padding-left: 29px;  
        padding-right: 29px;  
    }
    .content_title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .left_right_container {
        flex-direction: column;
    }

    .right_container {
        width: 100%;
    }

    .left_container {
        width: 100%;
    }

    .content {
        width: 314px;
    }

    .res_menu {
        display: flex;
    }

    .content_descr {
        font-size: 15px;
        margin-bottom: 25px;
    }
   
    .content_descr2 {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    .bruxelles_item{
        grid-template-columns: 1fr;
    }
    .bruxelle_description{
        display: none;
        font-size: 15px;
        color: #434343;
        margin: 0 0 48px 0;
        line-height: 1.6;
    }

    .bruxelles_content_wr {
        padding: 30px;
        max-width: none;
    }

    .bruxelle_title{
        font-size: 13px;
    }

    .bruxelle_sub_title{
        font-size: 14px;
    }

    .bruxelle_website{
        font-size: 11px;
    }

    .bruxelles_img {
        border-radius: 0;
    }
    
}